/* ------------------------------------ */
/* General */
/* ------------------------------------ */

/* RESET */
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
/* BASE STYLES */
:root {

  --clr-black-s00: hsl(from black h s 100% );    
  --clr-black-s05: hsl(from black h s 95% );  
  --clr-black-s10: hsl(from black h s 90% );
  --clr-black-s25: hsl(from black h s 75% );
  --clr-black-s50: hsl(from black h s 50% );
  --clr-black-s75: hsl(from black h s 25% );
  --clr-black-s90: hsl(from black h s 10% );

  --clr-blue-s05: hsl(from aliceblue h s 95% );  
  --clr-blue-s10: hsl(from aliceblue h s 90% );
  --clr-blue-s25: hsl(from aliceblue h s 75% );
  --clr-blue-s50: hsl(from aliceblue h s 50% );
  --clr-blue-s75: hsl(from aliceblue h s 25% );
  --clr-blue-s90: hsl(from aliceblue h s 10% );


  --screen-mobile: 420px;
  --screen-tablet: 800px;
  --screen-desktop: 1280px;

  --screen-w1024: 1024px;     /*1024x768*/
  --screen-w1280: 1280px;     /*1280x1024*/
  --screen-w1366: 1366px;     /*1366x768*/
  --screen-w1920: 1920px;     /*1920x1080*/


  /* --clr-gray-300: hsl(from gray h s l / 0.30); */
  /* --clr-gray-800: hsl(from gray h s l / 0.80); */
  /* --clr-gray-900: hsl(from black h s 25% ); */
}
html {
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5em;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 12em;

  min-height: 100dvh;
  background-color:aliceblue;
  background-color:var(--clr-blue-s10);



}
header {
  position: fixed;
  top: 0; left: 0; z-index: 99;
  width: 100%;

  background-color: var(--clr-black-s90);
}
main {
  padding-inline: 1em;
  line-height: 1.5;

  h1 {
    margin-bottom: 1.25rem;   
  }
  h2 {
    margin-bottom: 0.85rem;
  }
  p {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
  }
  section {
    border: 1px solid var(--clr-black-s25);
    background-color: var(--clr-blue-s05);


    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
  }

}
footer {
  background-color: var(--clr-black-s25);
  padding: 2em;
  margin-top: 2em;
  text-align: center;
}


/* NORMAL STYLES */

/* ------------------------------------ */
/* Header */
/* ------------------------------------ */

.flex-nav {
  /* background-color: darkgray; */
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-wrap: nowrap;
  /* column-gap: 3rem; */

  padding: 0.5rem;
  justify-content: center;
  align-items: center;

  .nav-logo {
    /* outline: 1px solid black; */
    /* background-color: aqua; */
    /* border: 1px solid darkblue; */
    /* border-radius: 1rem; */

    /* text-align: start; */
    /* margin-right: auto; */

    justify-content: center;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    /* flex-basis: max(500px, 48vw); */

    .nl-logo {
      color: darkblue;
      color: whitesmoke;
      font-size: 5rem;
      padding-block: 0.5rem;
      padding-inline: 2rem;
      /* text-align: left; */
    }
  }

  .nav-bar {

    /* outline: 1px solid black; */
    /* background-color: lightblue; */
    /* border: 1px solid black; */
    /* border-radius: 1rem; */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 60%;

    display: flex;
    column-gap: 0.25rem;
    justify-content: space-evenly;
    align-items: center;

    .nb-item {
      /* border: 1px solid black; */

  
      font-size: 1.5rem;
      padding-block: 0.35rem;
      padding-inline: 0.75rem;

      flex: 0 1 auto;   
    }
    .nb-item-1 {
      /* background-color: skyblue;   */
      color: inherit;      
    }
    .nb-item-2 {
      /* background-color: skyblue; */
      color: inherit;
    }
    .nb-item-3 {
      /* background-color: skyblue; */
      color: inherit;
    }
    .nb-item-4 {
      background-color: skyblue;
      color: slateblue;
      border-radius: 1rem;     
    }
  }

  a {
    text-decoration: none;
    color: darkmagenta;
    color:antiquewhite;

    &:hover, &:focus {
      text-decoration: 5px underline darkorange;
      color: red;
      transition: all 0.75s;   /* text-decoration cannot be transition this way */
    }
  }

}

@media screen and (width <= 800px) {
  html {
    scroll-padding-top: 11rem;
  }
  main {
      p {
    font-size: 1rem;
  }
  }

  .flex-nav {
    flex-direction: column;
  }
}


/* ------------------------------------ */
/* Example 0 */
/* ------------------------------------ */

.parent {
  border: 1px solid black;
  font-size: 32px;
  padding: 5px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  /* align-content: center;  works for wrap only */
}
.child {
  border: 2px solid red;
  margin: 5px;

  /* width: 300px; */
  flex-basis: content;   /*will override width;*/ 
  flex-basis: auto;      /*will respect width;*/

  /* flex-basis: 0;  */

  flex-shrink: 1;
  flex-grow: 0;

}
.child-1 {
  flex: 0 1 auto;
}
.child-2 {
  flex: 0 1 auto;
}
.child-3 {
  flex: 0 1 auto;
  align-self: start;
}

/* ------------------------------------ */
/* Flex Example 1 */
/* ------------------------------------ */

.Xcontainer {  
  background-color: var(--clr-gray-300);
  margin-block: 1rem;
  padding: 1rem;

  width: auto;
  height: fit-content;

  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem 1rem; 

  justify-content: flex-start;
  align-items: flex-start;

  h3 {
    background-color: var(--clr-gray-800);
    color: white;
    padding-block: 0.25em;
    padding-left: 0.25em;
    margin-bottom: 0.75em;
  }

  .box {
    background-color: whitesmoke;
    border-radius: 0.35rem;
    padding: 1rem;
    /*flex-grow: 0; flex-shrink: 1; flex-basis: auto; */
    flex: 0 1 auto;
  }

  .box-1 {
    flex: 1;
    align-self: center;
  }
  .box-2 {
    flex: 2;
    align-self: flex-end;
  }
  .box-3 {
    flex: 1;
  }
  .box-4 {
    flex: 2;
  }
}


/* ------------------------------------ */
/* Flex Example 2 */
/* ------------------------------------ */

.section-flex-2 {
  container-type: inline-size;
  container-name: container-2;

  @container container-2 (width <= 768px) {
    .flex-container {
      flex-flow: column nowrap;
    }
  }
}

.Xflex-container {
  background-color: lightgray;
  border-radius: 0.35rem;
  margin-block: 1rem;
  padding: 1rem;

  width: auto;
  height: fit-content;

  /* display: inline-flex; */
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap;  */
  flex-flow: row wrap;

  /* row-gap: 2.5rem; */
  /* column-gap: 1rem; */
  gap: 2.5rem 1rem; 

  /* flex-start/flex-end/center/space-around/space-between/space-evenly; */
  justify-content: flex-end;
  /* align-items: stretch/flex-start/flex-end/center/baseline; */
  align-items: flex-start;

  .flex-item {
    background-color: whitesmoke;
    border-radius: 0.35rem;
    padding: 1rem;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    flex: 0 1 auto;

  }
  h3 {
    background-color: darkslategray;
    color: white;
    padding-block: 0.25em;
    padding-left: 0.25em;
    margin-bottom: 0.75em;
  }
  .flex-item-1 {
    background-color: hsl(from purple h s l / 0.20);
    flex: 1 1 35%;
    order: 1;
  }
  .flex-item-2 {
    flex: 0 1 20%;
    order: 2;
  }
  .flex-item-3 {
    flex: 0 1 25%;
    order: 3;
  }
  .flex-item-4 {
    flex: 0 1 20%;
    order: 4;
  }
  .flex-item-5 {
    flex: 0 1 25%;
    order: 5;
  }
  .flex-item-6 {
    background-color: hsl(from purple h s l / 0.30);
    flex: 0 1 25%;
    order: 6;
  }

}

/* ------------------------------------ */
